.about__container {
  min-width: 200px;
  height: auto;
  margin-left: 50px;
  max-width: 411px;
  display: flex;
  position: absolute;
  top: 70px;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  justify-content: center;
}
.about__mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 10px 12px;
  flex-wrap: wrap;
}
.about__mainContent p {
  font-size: 16px;
  font-weight: 500;
  color: #1f1235;
  transition: 1s all linear;
}

.about__highlights {
  font-weight: 600;
}

.about__myImg {
  object-fit: contain;
  height: 120px;
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 1s all ease-in-out;
}
.about__myImg:hover {
  box-shadow: 0px 1px 11px 4px rgb(0 0 0 / 50%);
}
.about__btn {
  min-width: 110px;
  text-align: center;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
  background-color: #ff6e6c;
  transition: 1s all ease-out;
}
.about__btn:focus {
  outline: none;
}
.about__btn:hover {
  box-shadow: 0px 1px 11px 4px rgb(0 0 0 / 50%);
}
.about__mainContent .about__paraContent {
  color: white;
}
@media all and (max-width: 500px) {
  .about__container {
    margin-left: 20px;
  }
}
