.message__container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-image: url("../images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(2px 4px 6px);
  align-items: center;
}
.message__content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  flex-wrap: wrap;
  background-color: #ff8906;
  filter: blur(0.9);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
  margin-top: -146px;
  max-width: 800px;
  border-radius: 5px;
  padding: 40px 10px;
}
.message__illustrator {
  display: flex;
  flex: 0.6;
}
.message__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.4;
}
fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 59px;
  padding: 10px 10px;
  border-bottom: 1px solid black;
}
label {
  margin-bottom: 0px;
  margin-right: 12px;
  font-weight: 600;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}
input:focus {
  outline: none;
}
textarea {
  border: none;
  max-height: 39px;
  overflow: scroll;
  outline: none;
  padding: 5px 5px;
  background-color: transparent;
}
textarea::-webkit-scrollbar {
  display: none;
}
textarea:focus {
  outline: none;
}
button {
  border: none;
  text-align: center;
  margin: 10px;
  background-color: rgb(238, 115, 70);
  width: 100px;
  transition: 1s all ease-in;
  font-weight: 700;
  height: 30px;
  border-radius: 4px;
}
button:hover {
  background-color: rgb(230, 68, 40);
}
.message__illustrator > svg {
  object-fit: contain;
  height: 200px;
  max-width: 460px;
  animation-name: illus;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  filter: drop-shadow(2px 4px 6px);
  padding: 10px 10px;
  margin-bottom: 20px;
}
.message__form > form > h3 > b {
  color: black;
}
@keyframes illus {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
#eye1 {
  animation-name: eye1;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-direction: alternate;
}
@keyframes eye1 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-40px);
  }
}
#eye2 {
  animation-name: eye2;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 1s;

  animation-direction: alternate;
}
@keyframes eye2 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-40px);
  }
}
#mouth {
  animation-name: mouth;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
}
@keyframes mouth {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(1deg);
  }
}

.message__textfield {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 770px) {
  .message__content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: none;
    flex-wrap: wrap;
    background-color: transparent;
    filter: blur(0.9);
    box-shadow: none;
    margin-top: -146px;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px 0px;
  }
  .message__form {
    color: white;
  }
}
@media screen and (max-width: 500px) {
  .message__illustrator > svg {
    height: 125px;
  }

  .message__illustrator {
    flex: 1;
    margin-bottom: 10px;
  }
  .message__form {
    width: 100%;
  }
}
