.project__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  margin-top: 30px;
}
.project__container_dark {
  color: white;
}
.project__section__heading {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}
.project__section__heading > h3 {
  font-weight: bolder;
  margin-bottom: 30px;
}
.project__img__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
  width: inherit;
}
.project__imgContainer {
  max-height: 200px;
  margin: 30px;
  margin-bottom: 50px;
}
.project__imgContainer > img {
  object-fit: contain;
  height: 200px;
}
.project__imgOverlay {
  position: relative;
  top: -200px;
  right: 0px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  opacity: 0;
  transition: 1s all ease-in;
  cursor: pointer;
}
.project__imgOverlay > span {
  font-weight: bolder;
  font-size: 25px;
}
.project__imgOverlay:hover {
  opacity: 0.6;
}
