.profile__container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: scroll;
  width: 100vw;
}
.profile__container::-webkit-scrollbar {
  display: none;
}

.profile__darkContainer {
  transition: 1s all ease-in;
  background-color: black !important;
}
